In [19]:
import pandas as pd
import numpy as np
from pykrx import stock
import time
from datetime import datetime, timedelta
import os

pd.set_option('mode.chained_assignment',  None) # 경고 off

In [63]:
### 날짜 업데이트
def Update_Stocks_OHCVL(File_name): # File_name의 양식은 "code_name stocks.xlsx"
    stocks = '000020_동화약품 stocks.xlsx'

    # 파일 있는지 확인하기
    if os.path.exists(os.path.join(os.getcwd(),'stocks lists',f'{stocks}')):
        print("파일 존재")
        code = stocks[:6]
        # 저장된 DataFrame 읽기
        df = pd.read_excel(os.path.join(os.getcwd(),'stocks lists',f'{stocks}'),index_col=0)
        pre_date = df.index[-1] # 저장된 엑셀의 마지막 시간 확인
        n_date = datetime.fromtimestamp(time.time()) # 현재 시간

        today_date = datetime.today().strftime("%Y%m%d") # 오늘 날짜

        if (n_date - pre_date).days >0:
            diff = (n_date - pre_date).days
            before_date = (datetime.today() - timedelta(diff)).strftime("%Y%m%d")
            add_df = stock.get_market_ohlcv_by_date(before_date,today_date,code)
            new_df = pd.concat([df[:-(len(add_df)-1)],add_df], ignore_index=False)
            df = new_df
            
    else: # 파일이 없을 경우 90일가량의 OHCVL 값을 가져와서 저장한다.
        today_date = datetime.today().strftime("%Y%m%d") # 오늘 날짜
        before_date = (datetime.today() - timedelta(90)).strftime("%Y%m%d") # 90 일 전의 날짜
        df = stock.get_market_ohlcv_by_date(before_date, today_date, code)
        df.to_excel(f"./stocks lists/{code}_{name} stocks.xlsx")
        
    return df

파일 존재
20220712
20220611
000020

In [59]:
len(add_df)

2

In [64]:
new_df

               시가     고가     저가     종가     거래량
날짜
2022-05-02  12450  12700  12450  12600   49070
2022-05-03  12650  12800  12550  12700   66325
2022-05-04  12650  12750  12400  12500   96316
2022-05-06  12400  12400  12100  12200  123803
2022-05-09  12000  12100  11600  11750  208512
2022-05-10  11400  11750  11250  11700  156931
2022-05-11  11600  11950  11600  11900   62010
2022-05-12  11700  11850  11350  11450  108801
2022-05-13  11400  11750  11400  11750   68427
2022-05-16  11800  12050  11750  11850   76716
2022-05-17  11850  12000  11850  11900   69867
2022-05-18  11950  12250  11700  12000  207503
2022-05-19  11750  11950  11600  11900   93821
2022-05-20  11900  12000  11800  11850   93735
2022-05-23  11900  12200  11800  12100  144887
2022-05-24  12100  12100  11800  11850   85789
2022-05-25  11850  12000  11750  11800   79303
2022-05-26  11800  12050  11800  11850   73542
2022-05-27  11950  12000  11800  11850  111027
2022-05-30  11950  12150  11900  12050   96191
2022-05-31  12050  12100  11850  11900  293055
2022-06-02  11850  12000  11850  11900   88269
2022-06-03  11950  12000  11850  11900  108082
2022-06-07  11900  11900  11500  11550  142627
2022-06-08  11650  11700  11450  11500   96891
2022-06-09  11450  11500  11200  11350  172607
2022-06-10  11250  11350  10900  11050  254647
2022-06-13  10700  10800  10450  10450  256505
2022-06-14  10100  10350  10000  10100  377474
2022-06-15  10000  10150   9880   9960  230500
2022-06-16  10000  10150   9600   9600  217002
2022-06-17   9360   9920   9350   9890  244117
2022-06-20   9850   9910   9320   9410  179414
2022-06-21   9360   9600   9360   9570   92162
2022-06-22   9570   9880   9570   9650  191631
2022-06-23   9660   9720   9050   9050  216840
2022-06-24   8920   9420   8920   9350  162314
2022-06-27   9420   9850   9410   9670   97256
2022-06-28   9670   9820   9570   9820   70950
2022-06-29   9650   9870   9650   9840   70209
2022-06-30   9790   9880   9680   9690   94044
2022-07-01   9770   9800   9500   9590   67088
2022-07-04   9590   9590   9250   9360   73456
2022-07-05   9420   9880   9420   9850   96705
2022-07-06   9850  10700   9850  10350  325324
2022-07-07  10400  10600  10300  10500  113871
2022-07-08  10550  10700  10400  10500   85747
2022-07-11  10500  11100  10500  10900  184120
2022-07-12  11050  11200  10800  10950   98288